<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donacionesuabc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ModificarDonacion"></activity>
        <activity android:name=".EstadoDonacion" />
        <activity android:name=".Publicaciones_activas" />
        <activity android:name=".Intercambios" /> <!-- DO NO FORGET TO DECLARE ACTIVITIES HERE -->
        <activity android:name=".Donar_activity" />
        <activity android:name=".Donaciones_Activity" /> <!-- DO NO FORGET TO DECLARE ACTIVITIES HERE -->
        <activity android:name=".VerArticulos" />
        <activity android:name=".vista_activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuLoggedActivity" />
    </application>

</manifest>