<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donacionesuabc">
    <!-- Para poder usar Picasso -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivitiesLoggedIn.RegisterActivity"></activity>
        <activity android:name=".ActivitiesLoggedIn.LogInActivity" />
        <activity
            android:name=".ActivitiesLoggedIn.PaqueteDonaciones.ModificarDonacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesLoggedIn.PaqueteDonaciones.EstadoDonacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesLoggedIn.PaqueteDonaciones.PublicacionesActivasDonacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesLoggedIn.PaqueteDonaciones.SubirDonacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitiesLoggedIn.PaqueteDonaciones.Donaciones"
            android:screenOrientation="portrait" /> <!-- DO NO FORGET TO DECLARE ACTIVITIES HERE -->
        <activity
            android:name=".VerArticulos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VistaArticulo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitiesLoggedIn.MenuLoggedActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>